@media only screen and (max-width: 650px) {
    main {
        display: grid;
        grid-template-columns: 1fr;

    }

    main .spot {
        display: none;
    }

    .menu {
        display: none;
    }

    .card {
        display: inline-block;
        width: 99%;
        padding: 20px;
        margin: 1%;
        border-radius: 10px;
        cursor: pointer;
    }


}