
@media only screen and (max-width: 650px) {
    main {
        display: grid;
        grid-template-columns: 1fr;

    }

    main .spot {
        display: none;
    }

    .menu {
        display: none;
    }

    .card {
        display: inline-block;
        width: 99%;
        padding: 20px;
        margin: 1%;
        border-radius: 10px;
        cursor: pointer;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon .icon {
        width: 30px;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
        margin: 0;
    }
    .nav-link{
        text-decoration: none;
    }
    .mobile-menu a {
        color: white;
    }

    .mobile-menu a:hover {
        width: 20%;
        color: rgb(102, 156, 219);
        border-radius: 5px;
        font-size: 15px;
        font-weight: 900;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }

}