@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans:ital@1&display=swap');

*{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: 'Roboto', sans-serif; 
}
img{
    width: 80px;
    margin: 5px;
    
}
header{
    background: skyblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-family: 'Lobster', cursive;
    margin-left: 20px;
    
}
.link {
    display: flex;
    flex-flow: row wrap;
    height: 200px;
    background: black;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.link a{
    margin-left: 10px;
    text-decoration: none;
    color: white;
    width: 100%;
    text-align: center;
   
}
.link a:hover{
    background: skyblue;
    width: 20%;
    color: black;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 900;
}
main h2{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}
.line{
    margin-top: 0;
    width: 90%;
}
section{
    justify-content: center;
    align-items: center;
}
.card{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    width: 90%;
    margin-left: 60px;
    margin-right: 5px;
}
.card h3{
    text-align: center;
    background: skyblue;
    margin-left: 5px;
    width: 99%;
    height: 35px;
    padding-top: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

li{
    list-style: none;
}
li a{
    text-decoration: none;
    color: blue;
}
h3, p{
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
}

.temper p{
    width: 100%;
    height: 30px;
}

footer{
    background: skyblue;
    width: 100%;
    height: auto;
}
footer p{
    text-align: center;
    margin:0;
    padding: 20px;
}
