*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
img{
    width: 120px;
    
    margin: 5px;
}
header{
    background: skyblue;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    
}
h1{
    margin-left: 20%;
    text-align: center;
    margin-left: 20px;
}